:root {
  --background: #fafafa;
  --foreground: #1c1c1e;

  --card: #fafafa;
  --card-foreground: #1c1c1e;

  --popover: #fafafa;
  --popover-foreground: #1c1c1e;

  --primary: #1f1f33;
  --primary-foreground: #ededed;

  --secondary: #161616;
  --secondary-foreground: #f2f2f2;

  --muted: #161616;
  --muted-foreground: #787878;

  --accent: #028a0f;
  --accent-foreground: #ededed;

  --destructive: #991a3a;
  --destructive-foreground: #ededed;

  --warning: #e2b644;
  --warning-foreground: #f7ebd0;

  --border: #dddddd;
  --input: #dddddd;
  --ring: #1c1c1e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
}

body {
  background-color: var(--background);
  overflow-x: hidden;
}

/* HEADER */

.navbar {
  position: fixed;
  height: 60px;
  width: 100vw;
  padding: 20px 60px;
  z-index: 2;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.header {
  position: relative;
  width: 100%;
  height: 60vh;
  z-index: 1;
  background-image: linear-gradient(
      rgba(250, 250, 250, 0.8),
      rgba(250, 250, 250, 0.8)
    ),
    url(./images/hero.jpg);
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header__heading {
  max-width: 600px;
  line-height: 32px;
}

.header__heading-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header2 {
  position: relative;
  width: 100%;
  height: 30vh;
  z-index: 1;
  background-image: linear-gradient(
      rgba(250, 250, 250, 0.8),
      rgba(250, 250, 250, 0.8)
    ),
    url(./images/teamwork.jpg);
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header2__heading {
  max-width: 400px;
  line-height: 32px;
}

.header2__heading-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.header3 {
  position: relative;
  width: 100%;
  height: 18vh;
  z-index: 1;
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header3__heading {
  max-width: 400px;
  line-height: 20px;
}

.header3__heading-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.navbar-solid {
  position: fixed;
  height: 60px;
  width: 100vw;
  padding: 20px 60px;
  top: 0;
  background-color: var(--background);

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.logo {
  text-decoration: none;
  font-size: large;
  font-weight: bolder;
  color: var(--foreground);
}

.navbar__link-container {
  display: flex;
  gap: 24px;
}

.navbar__btn-container {
  display: flex;
  align-items: center;
  gap: 24px;
}

.navbar__link {
  text-decoration: none;
  color: var(--foreground);

  display: inline-block;
  padding-bottom: 2px;
  background-image: linear-gradient(var(--foreground) 0 0);
  background-position: 0 100%;
  background-size: 0% 3px;
  background-repeat: no-repeat;
  transition: background-size 0.3s, background-position 0s 0.3s;
}

.navbar__link:hover {
  background-position: 100% 100%;
  background-size: 100% 3px;
}

.navigation__checkbox {
  display: none;
}
.navigation__button {
  background-color: transparent;
  height: 20px;
  width: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2000;
  cursor: pointer;
}

.navigation__nav {
  background-color: var(--background);
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  -webkit-transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
}
.navigation__item {
  margin: 20px;
}

.navigation__checkbox:checked ~ .navigation__background {
  -webkit-transform: scale(80);
  transform: scale(80);
}
.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
}

.navigation__icon {
  position: relative;
}
.navigation__icon,
.navigation__icon::before,
.navigation__icon::after {
  width: 30px;
  height: 1.5px;
  background-color: var(--foreground);
  display: inline-block;
}
.navigation__icon::before,
.navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.navigation__icon::before {
  top: -6px;
}
.navigation__icon::after {
  top: 6px;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.more {
  display: none;
}

/* NEWS SECTION */

.section-news {
  height: fit-content;
  width: 100vw;
  margin-top: 60px;
  padding: 0px 60px;

  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  grid-gap: 10px;
}

.news-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.news-item__image-container img {
  width: 100%;
  height: 250px;
}

/* PLACEHOLDER SECTION */

.placeholder-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.section-placeholder {
  width: 100%;
  padding: 0px 60px;
  margin-top: 60px;
}

.section-placeholder__image-container img {
  width: 100%;
  height: 100%;
}

/* JOBS BOARD SECTION */

.jobs-board {
  margin-top: 60px;
  padding: 0 60px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: min-content 1fr;
  gap: 20px;
}

/* FILTER SECTION */

.filters {
  grid-column: 1 / 2;
  height: fit-content;
  background-color: var(--background);
  border: 3px solid var(--foreground);
  border-radius: 10px;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(7, min-content);
  gap: 16px;
  padding: 20px;
}

.slider-container {
  color: var(--foreground);
  display: grid;
  grid-template-rows: repeat(3, min-content);
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.slider-container__label {
  grid-column: 1 / -1;
  font-weight: 700;
}

.slider-container__slider {
  grid-column: 1 / -1;
}

.slider-container__salary {
  display: inline-block;
  font-weight: 700;
}

.slider-container__salary--2 {
  text-align: end;
}

.checkboxes-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content 1fr 1fr 1fr;
  gap: 10px 20px;
}

.checkboxes-container__title {
  grid-column: 1 / -1;
  color: var(--foreground);
  font-weight: 700;
}

.toggle-container {
  color: var(--foreground);
  font-weight: 700;
  display: flex;
  justify-content: space-between;
}

/* JOB-POSTINGS */

.apply-here-btn {
  margin: 30px 0;
  width: 100%;
  padding: 0px 60px;
  display: flex;
  justify-content: center;
}

.job-postings {
  border: 3px solid var(--foreground);
  border-radius: 10px;
  padding: 20px;
}

.job-postings ol {
  display: flex;
  flex-direction: column;
  gap: 30px;
  list-style-type: none;
  padding: 0;
}

.job-postings p {
  margin: 10px 0;
}

.job-postings ul li {
  list-style-type: disc;
  margin-left: 20px;
}

.job-postings h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

/* APPLY FORM SECTION */

.apply-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 3px solid var(--foreground);
  border-radius: 10px;
}

.apply-form label {
  font-weight: bold;
}

.apply-form input[type="checkbox"] {
  margin-right: 5px;
}

.apply-form fieldset {
  border: none;
  padding: 0;
  margin: 10px 0;
}

.apply-form legend {
  font-weight: bold;
  margin-bottom: 5px;
}

.apply-form input[type="radio"] {
  display: none;
}

.apply-form input[type="radio"] + label:before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1px solid var(--border);
  border-radius: 50%;
  margin-right: 5px;
  vertical-align: middle;
  cursor: pointer;
}

.apply-form input[type="radio"]:checked + label:before {
  background-color: var(--foreground);
}

/* LOGIN PAGE */
.login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  width: 400px;
  height: 500px;
  background-color: var(--background);
  border-radius: 10px;
  border: 3px solid var(--foreground);
  padding: 30px 20px;

  display: grid;
  grid-template-rows: 3fr 1fr 1fr 1fr;
}

.login-form__title {
  place-self: center;
  font-size: 40px;
  font-weight: 700;
}

.login-form__field {
  display: flex;
  flex-direction: column;
  place-self: center;
  width: 80%;
  gap: 5px;
}

.login-form__label {
  font-size: 16px;
}

.login-form__input {
  outline: none;
  padding: 10px;
  border-radius: 5px;
  height: 30px;
}

.login-form__btn {
  width: 80%;
  place-self: center;
}

.login-form__homelink {
  text-align: center;
  font-size: 16px;
}

.login-form__homelink a {
  text-decoration: none;
  color: var(--foreground);
  font-weight: 800;
}

/* FOOTER */

.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 30px 30px 20px 30px;
  color: var(--foreground);
  background-color: var(--background);
}

.footer > * {
  flex: 1 100%;
}

.footer__addr {
  margin-right: 1.25em;
  margin-bottom: 2em;
}

.footer__addr h2 {
  margin-top: 10px;
  font-size: 15px;
  font-weight: 400;
}

.nav__title {
  font-weight: 800;
  font-size: 16px;
}

.footer address {
  font-style: normal;
  color: var(--muted-foreground);
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer a {
  text-decoration: none;
}

.footer__nav {
  display: flex;
  flex-flow: row wrap;
  margin-top: -5px;
}

.footer__nav > * {
  flex: 1 50%;
  margin-right: 1.25em;
}

.nav__ul a {
  color: var(--muted-foreground);
}

.nav__ul--extra {
  column-count: 2;
  column-gap: 1.25em;
}

.legal {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  color: var(--muted-foreground);
}

.legal__links {
  display: flex;
  align-items: center;
}

.heart {
  color: var(--foreground);
}

/* TEXT BOX */
.resizedTextbox {
  width: 200px;
  height: 50px;
  padding: 10px;
}

/* INPUTS */

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="password"],
select {
  width: 100%;
  padding: 8px;
  margin: 5px 0 15px;
  border: 2px solid var(--border);
  border-radius: 5px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="date"]:focus,
input[type="password"]:focus,
select:focus {
  outline: none;
  border: 2px solid var(--foreground);
}

/* BUTTONS */

.btn {
  text-decoration: none;
  color: var(--foreground);
  padding: 6px 15px;
  border-radius: 6px;
  border: none;
}

.btn-primary {
  color: var(--foreground);
  background-color: var(--background);
  border: 2px solid var(--foreground);
}

.btn-secondary {
  color: var(--background);
  background-color: var(--foreground);
}

.btn-sm {
  max-width: fit-content;
}

.btn-outline {
  border: 2px solid var(--foreground);
}

.btn-outline:hover {
  background-color: var(--foreground);
  color: var(--background);
}

/* CHECKBOX */

.checkbox {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: var(--foreground); /* Change to your desired color */
}

.checkbox__input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox__checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border: 1px solid var(--foreground);
  background-color: var(--background); /* Change to your desired color */
}

.checkbox__input:checked ~ .checkbox__checkmark:after {
  content: "";
  position: absolute;
  display: block;
  left: 30%;
  top: 5%;
  width: 5px;
  height: 10px;
  border: solid var(--background);
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.checkbox__input:checked ~ .checkbox__checkmark {
  background-color: var(--foreground);
}

/* SLIDER */

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 16px;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  border-radius: 10px;
}

.slider::-webkit-slider-runnable-track {
  height: 100%;
  background: var(--muted-foreground);
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 16px;
  width: 16px;
  background-color: var(--background);
  border-radius: 100%;
  box-shadow: -31rem 0 0 30rem var(--foreground);
}

/* TOGGLE */

.toggle-container__text {
  align-self: center;
}

.toggle__control {
  transition: 0.3s cubic-bezier(0.95, 0.05, 0.795, 0.035);
  width: 60px;
  height: 30px;
  display: block;
  border-radius: 30px;
  background-color: var(--background);
  border: 2px solid var(--foreground);
  position: relative;
}

.toggle__control:after {
  transition: 0.3s cubic-bezier(0.95, 0.05, 0.795, 0.035);
  content: "";
  width: 20px;
  height: 20px;
  display: block;
  background-color: var(--foreground);
  border-radius: 50%;
  position: absolute;
  top: 3px;
  left: 4px;
}

.toggle__input {
  display: none;
}

.toggle__input:checked + .toggle__control {
  border-color: var(--foreground);
  background-color: var(--foreground);
}

.toggle__input:checked + .toggle__control:after {
  background-color: var(--background);
  left: 32px;
}

/* MAP */

.map-container {
  position: relative;
  padding: 0 60px;
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.map-container iframe {
  position: absolute;
  padding: 0 60px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* DIVIDER */

.divider {
  height: 5px;
  background-color: var(--foreground);
  margin: 60px 60px;
}

.divider-sm {
  height: 2px;
  background-color: var(--foreground);
  margin: 40px 0px;
}

/*TYPOGRAPHY */
.sub-heading {
  width: 100%;
  text-align: center;
}

.paragraph {
  margin: 20px auto;
  font-size: larger;
  max-width: 600px;
}

/* RESPONSIVE */

@media (max-width: 768px) {
  .navbar__link-container {
    display: none;
  }

  .more {
    display: block;
  }

  .header__heading {
    max-width: 300px;
  }

  .section-news {
    grid-template-columns: repeat(2, 1fr);
  }

  .paragraph {
    font-size: small;
    max-width: 300px;
  }

  .jobs-board {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .navbar__link-container {
    display: none;
  }

  .more {
    display: block;
  }

  .header__heading {
    max-width: 300px;
  }

  .section-news {
    grid-template-columns: repeat(1, 1fr);
  }

  .paragraph {
    font-size: small;
    max-width: 300px;
  }

  .jobs-board {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 24.375em) {
  .legal .legal__links {
    margin-left: auto;
  }
}

@media screen and (min-width: 40.375em) {
  .footer__nav > * {
    flex: 1;
  }

  .nav__item--extra {
    flex-grow: 2;
  }

  .footer__addr {
    flex: 1 0px;
  }

  .footer__nav {
    flex: 2 0px;
  }
}

/* TIME TABLE */
.timetable {
  display: grid;
  grid-template-areas: ". week" "time content";
  grid-template-columns: 120px;
  grid-template-rows: 60px;
  width: 100%;
  padding: 0 60px;
  height: 100vh;
  resize: both;
  overflow-x: scroll;
}
.timetable .accent-pink-gradient {
  display: flex;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #ee8ebc, #eea08e);
  transition: 0.2s ease box-shadow, 0.2s ease transform;
}
.timetable .accent-pink-gradient:hover {
  box-shadow: 0 20px 30px 0 rgba(238, 142, 188, 0.3);
  transform: scale(1.05);
}
.timetable .accent-purple-gradient {
  display: flex;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #c08eee, #ee8edc);
  transition: 0.2s ease box-shadow, 0.2s ease transform;
}
.timetable .accent-purple-gradient:hover {
  box-shadow: 0 20px 30px 0 rgba(192, 142, 238, 0.3);
  transform: scale(1.05);
}
.timetable .weekend {
  background: #fbfbfc;
  color: #000000;
}
.timetable .week-names {
  grid-area: week;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-transform: uppercase;
  font-size: 11px;
  resize: both;
}
.timetable .week-names > div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 100%;
  height: 100%;
  box-shadow: inset 1px 0 0 #eceff1;
  resize: both;
}
.timetable .time-interval {
  grid-area: time;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  font-size: 12px;
  resize: both;
}
.timetable .time-interval > div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 1px 0 0 #eceff1;
}
.timetable .content {
  grid-area: content;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(7, 1fr);
}
.timetable .content > div {
  box-shadow: inset 1px 0 0 #eceff1, inset 0 1px 0 0 #eceff1;
}
/* PRICING */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
 :root {
	 --baseColor: #656c7c;
	 --baseSize: 16px;
	 --baseLineHeight: 1.5;
	 --fontFamily: Inter, sans-serif;
	 --black: #000000;
	 --blackLight: #000000;
	 --black: #000000;
	 --redTick: url("data:image/svg+xml,%3Csvg width='18' height='14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.552.134 5.717 10.97 1.448 6.701 0 8.149l5.717 5.717L18 1.583 16.552.134Z' fill='%23EA455F'/%3E%3C/svg%3E%0A");
	 --whiteTick: url("data:image/svg+xml,%3Csvg width='18' height='14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.552.134 5.717 10.97 1.448 6.701 0 8.149l5.717 5.717L18 1.583 16.552.134Z' fill='%23FFFFFF'/%3E%3C/svg%3E%0A");
	 --close: url("data:image/svg+xml,%3Csvg width='18' height='18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 1.414 16.586 0 9 7.586 1.414 0 0 1.414 7.586 9 0 16.586 1.414 18 9 10.414 16.586 18 18 16.586 10.414 9 18 1.414Z' fill='%23B1B8C9'/%3E%3C/svg%3E");
	 --entpIcon: url("data:image/svg+xml,%3Csvg width='42' height='42' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.813 11.077 21 1.155l17.187 9.922v19.846L21 40.845 3.813 30.923V11.077Z' stroke='%23fff' stroke-width='2'/%3E%3Ccircle cx='21' cy='21' r='8' stroke='%23fff' stroke-width='2'/%3E%3C/svg%3E");
}
 * {
	 box-sizing: border-box;
}
 
 .plans {
	 width: 96%;
	 max-width: 1128px;
	 margin: 0 auto;
}
 .plans__container {
	 padding: 1rem 0 2rem;
}
 .plansHero {
	 text-align: center;
	 padding: 5rem 0 4.5rem;
	 line-height: 1.21;
}
 .plansHero__title {
	 font-weight: 700;
	 font-size: 2rem;
	 margin: 0 0 1rem 0;
	 color: #000;
}
 .plansHero__subtitle {
	 margin: 0;
}
 .planItem {
	 --border: 1px solid #e6e6e6;
	 --bgColor: #fff;
	 --boxShadow: none;
	 background-color: var(--bgColor);
	 border: var(--border);
	 border-radius: 1rem;
	 box-shadow: var(--boxShadow);
	 padding: 2rem 1.5rem;
	 display: inline-flex;
	 flex-direction: column;
}
 .planItem__container {
	 --direction: column;
	 display: grid;
	 grid-auto-flow: var(--direction);
	 grid-auto-columns: 1fr;
	 gap: 1.5rem;
}
 .planItem .price {
	 --priceMargin: 2rem 0;
}
 .planItem--pro {
	 --border: 0;
	 --boxShadow: 0px 14px 30px rgba(204, 204, 204, 0.32);
}
 .planItem--pro .label {
	 --labelBg: #fdb72e;
	 --labelColor: #fff;
}
 .planItem--entp {
	 --bgColor: var(--black);
}
 .planItem--entp .card {
	 --titleColor: #fff;
	 --descColor: #000;
}
 .planItem--entp .card__icon {
	 background-image: var(--entpIcon);
	 background-size: cover;
}
 .planItem--entp .price, .planItem--entp .featureList {
	 --color: #fff;
}
 .planItem--entp .featureList {
	 --icon: var(--whiteTick);
}
 .planItem .button2 {
	 margin-top: auto;
}
 .button2 {
	 --bgColor: var(--blackLight);
	 --color: var(--black);
	 --shadowColor: #a3a3a3;
	 --outline: var(--black);
	 border-radius: 0.5rem;
	 display: block;
	 width: 100%;
	 padding: 1rem 1.5rem;
	 border: 0;
	 line-height: inherit;
	 font-family: inherit;
	 font-size: 1rem;
	 font-weight: 600;
	 background-color: var(--bgColor);
	 color: var(--color);
	 cursor: pointer;
	 transition: all 0.1s ease-in-out;
	 user-select: none;
}
 .button2--black {
	 --bgColor: var(--black);
	 --color: #fff;
	 --shadowColor: #a0a0a0;
}
 .button2--white {
	 --bgColor: #fff;
	 --shadowColor: #a0a0a0;
	 --outline: #fff;
}
 .button2:hover {
	 transform: translateY(-2px);
	 box-shadow: 0px 6px 10px var(--shadowColor);
}
 .button2:focus-visible {
	 outline-offset: 2px;
	 outline: 2px solid var(--outline);
}
 .card {
	 --titleColor: #000;
	 --descColor: var(--baseColor);
}
 .card__header {
	 display: flex;
	 gap: 1rem;
	 align-items: center;
}
 .card__icon {
	 width: 2.625rem;
	 height: 2.625rem;
}
 .card h2 {
	 color: var(--titleColor);
	 font-size: 1.5rem;
	 line-height: 1.2;
	 font-weight: 400;
	 margin: 0;
	 flex-grow: 1;
}
 .card__desc {
	 margin: 1.5rem 0 0;
	 color: var(--descColor);
}
.card__desc2 {
  margin: 1.5rem 0 0;
  color: white;
}
 .label {
	 --labelColor: var(--baseColor);
	 --labelBg: #e5e5e5;
	 font-weight: 600;
	 line-height: 1.25;
	 font-size: 1rem;
	 text-align: center;
	 padding: 0.625rem 1.125rem;
	 border-radius: 2rem;
	 user-select: none;
	 background-color: var(--labelBg);
	 color: var(--labelColor);
}
 .price {
	 --color: #000;
	 --priceMargin: 0;
	 display: flex;
	 color: var(--color);
	 align-items: center;
	 gap: 0.5625rem;
	 font-weight: 600;
	 font-size: 2rem;
	 margin: var(--priceMargin);
}
 .price span {
	 font-size: 1rem;
	 font-weight: 400;
	 color: var(--baseColor);
}
 .featureList {
	 --color: #000;
	 --icon: var(--redTick);
	 --height: 0.875rem;
	 margin: 0 0 2.75rem;
	 padding: 0;
	 font-weight: 500;
}
 .featureList li {
	 color: var(--color);
	 margin-bottom: 2rem;
	 display: flex;
	 align-items: center;
	 gap: 1rem;
}
 .featureList li:before {
	 content: "";
	 background-image: var(--icon);
	 background-size: cover;
	 display: block;
	 width: 1.125rem;
	 height: var(--height);
}
 .featureList li:last-child {
	 margin-bottom: 0;
}
 .featureList li.disabled {
	 --color: #b1b8c9;
	 --height: 1.125rem;
	 --icon: var(--close);
}
 .symbol {
	 --big: 2.625rem;
	 --small: 1.5rem;
	 --radius: 0.25rem;
	 border: 2px solid var(--black);
	 width: var(--big);
	 height: var(--big);
	 border-radius: var(--radius);
	 position: relative;
}
 .symbol--rounded {
	 --radius: 2rem;
}
 .symbol:after {
	 content: "";
	 box-sizing: border-box;
	 display: block;
	 position: absolute;
	 border: 2px solid var(--black);
	 width: var(--small);
	 height: var(--small);
	 border-radius: var(--radius);
	 top: 50%;
	 left: 50%;
	 transform: translate(-50%, -50%);
}
 @media screen and (max-width: 640px) {
	 .plans {
		 max-width: 480px;
		 width: 90%;
	}
	 .planItem__container {
		 --direction: row;
	}
}
 @media screen and (min-width: 641px) and (max-width: 768px) {
	 :root {
		 --baseSize: 12px;
	}
}
 @media screen and (min-width: 769px) and (max-width: 1080px) {
	 :root {
		 --baseSize: 14px;
	}
}
